.home{
    background: #eceff4;
    color: #514d6a;
}

.box-content{
    width:100%;
    padding:10px;
    background: #FFF;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    border:1px solid #DDD;
    margin: 10px auto;
}

.box-content:last-child{
    margin-bottom: 0px;
}

.table{
    margin-bottom: 0px;
}

.user-wall-posting .media{
    padding-bottom: 0px;
}

.media{
    padding-bottom: 10px;
}

.box-content .stats h4{
    font-size: 18px;
    line-height: 18px;
    margin: 15px 0px 15px;
}

#activity h4{
    margin:0px;
}

.transparent{
    background:transparent;
    border:none;
    padding:0px;
}

.transparent .card{
    padding:10px;
    margin-bottom:10px;
}

.card-background .map{
    height:200px;
}