.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.navbar-inverse .navbar-nav li:hover > a{
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}

nav .dropdown-menu > li > a{
    text-align: center;
}

.navbar .user-photo {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    margin: -3px auto 0;
    border: 1px solid #FFF;
}

.navbar .user-photo img{
    width: 36px;
    height: 36px;
}

.navbar .navbar-nav > li > a [class^="fa"]{
    font-size: 32px;
}

.dropdown-menu{
    z-index: 99999;
}

.search .row > div{
    padding: 5px;
}

.app{
    padding-top:10px;
    padding-bottom:10px;
}

body > .navbar-collapse .nav > li [class^="fa"]{
    font-size:26px;
}

body > .navbar-collapse .nav > li{
    text-align: center;
}

body > .navbar-collapse .nav > li .avatar{
    max-width: 36px;
    border-radius: 50%;

}

.card .image{
    height:320px;
}

.card-user .image {
    height: 110px;
}