.section-title {
    font-weight: 300;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 1px solid #CCCCCC;
    color: #999; }

.section-sub-title {
    font-style: italic; }

.section-gray {
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD; }

.section-faq {
    padding: 50px 0; }
.section-faq .section-title {
    margin-bottom: 30px; }
.section-faq .row {
    margin-bottom: 30px; }

.space-50 {
    height: 50px;
    display: block; }

.space {
    height: 100px;
    display: block; }

.parallax {
    width: 100%;
    height: 600px;
    overflow: hidden;
    display: block;
}

.parallax .small-info {
    color: #FFFFFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    top: 100px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 2;
}

.parallax .small-info h3 {
    max-width: 790px;
    margin: 0 auto;
    line-height: 1.4; }

.parallax .parallax-image img {
    width: 100%;
    position: relative; }

.big-map {
    height: 100%;
    width: 100%;
    display: block;
    position: relative; }

.big-info {
    margin-bottom: 60px; }

.filter-black {
    position: relative; }

.filter-black:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.66);
    content: ""; }

.section-blog .card-background .image {
    height: 440px; }

.about-us .container, .contact-us .container, .pricing .container, .blog-page .container, .ecommerce .container, .home .container, .product-page .container, .blog-post .container {
    max-width: 970px; }

@media (max-width: 768px) {
    .parallax .parallax-image {
        width: 100%;
        height: 640px;
        overflow: hidden; }

    .parallax .parallax-image img {
        height: 100%;
        width: auto; }

    .parallax .small-info {
        text-shadow: 0 0 10px black;
        padding: 5px;
        font-size: 20px !important; } }
.about-us .team-presentation {
    margin: 30px 0; }
.about-us .clients-presentation {
    margin: 30px 0; }
.about-us .card-user {
    margin: 70px 0px 0; }
.about-us .hr-small {
    margin: 15px 0; }
.about-us .copyright a {
    color: #FFFFFF; }
.about-us .info .icon {
    background: transparent; }
.about-us .icon [class*="pe-"] {
    color: #CCCCCC;
    font-size: 74px; }

.contact-us .navbar-transparent {
    background-color: rgba(0, 0, 0, 0.55);
    padding: 0; }
.contact-us .parallax {
    height: 500px; }
.contact-us .contact-info p {
    font-size: 15px; }
.contact-us .company-description {
    position: absolute;
    right: 0;
    top: 220px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 3;
    padding: 20px 60px 20px 20px;
    border-radius: 6px 0 0 6px;
    color: #FFFFFF; }
.contact-us .company-description h4 {
    margin: 0; }

.blog-page .card {
    margin-bottom: 60px; }
.blog-page .section-title {
    margin-bottom: 40px; }

.ecommerce .section {
    padding: 20px 0; }
.ecommerce .section-title {
    margin-bottom: 30px; }
.ecommerce .footer-default {
    border-top: 1px solid #e5e5e5; }

.home .section-features-1 .info .icon {
    background: transparent; }
.home .section-features-1 .icon i {
    color: #2ca8ff;
    font-size: 80px; }
.home .section-features-1 .icon [class*="pe-7s-"] {
    width: auto;
    height: auto; }
.home .section-features-2 .info .icon {
    margin-bottom: 10px; }
.home .section-description h5 {
    margin-top: 40px; }
.home .img-container {
    border-radius: 10px;
    overflow: hidden; }
.home .img-container img {
    width: 100%; }
.home .section-testimonials .carousel-control {
    left: -70px; }
.home .section-testimonials .carousel-control .fa {
    top: 40%; }
.home .section-testimonials .carousel-control.right {
    right: -40px;
    left: auto; }
.home .section-clients {
    padding: 50px 0; }
.home .section-clients .info .icon {
    background: transparent; }
.home .section-clients .icon i {
    color: #AAAAAA; }
.home .section-clients h3 {
    margin-top: 10px; }
.home .social-line {
    border-bottom: 1px solid #dddddd; }
.home .carousel-indicators {
    bottom: 0; }
.home .carousel-indicators li {
    margin: 1px 10px;
    border-color: #00bbff; }
.home .carousel-indicators .active {
    background-color: #00bbff; }
.home .carousel-inner > .item > img,
.home .carousel-inner > .item > a > img {
    display: block;
    margin: 0 auto;
    height: auto;
    border-radius: 10px; }
.home .carousel.fade {
    opacity: 1; }
.home .carousel.fade .item {
    -moz-transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    -webkit-transition: opacity ease-in-out .7s;
    transition: opacity ease-in-out .7s;
    left: 0 !important;
    opacity: 0;
    top: 0;
    position: absolute;
    width: 100%;
    display: block !important;
    z-index: 1; }
.home .carousel.fade .item:first-child {
    top: auto;
    position: relative; }
.home .carousel.fade .item.active {
    opacity: 1;
    -moz-transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    -webkit-transition: opacity ease-in-out .7s;
    transition: opacity ease-in-out .7s;
    z-index: 2; }

.product-page .tab-content {
    overflow: hidden;
    width: 100%;
    height: auto;
    border-radius: 6px; }
.product-page .tab-content img {
    width: 100%;
    height: auto; }
.product-page .nav-text {
    margin: 10px 0 10px 0;
    text-align: center; }
.product-page .nav-text > li > a {
    width: 50%;
    height: auto;
    margin: 0 auto; }
.product-page .nav-text > li > a img {
    width: 100%;
    height: auto;
    text-align: center;
    border-radius: 4px; }
.product-page .product-details {
    margin: 0 15px 15px; }
.product-page .product-details .title {
    margin-top: 0;
    color: #333;
    text-transform: uppercase; }
.product-page .product-details .title, .product-page .product-details .price {
    font-weight: 500; }
.product-page .actions {
    margin: 15px; }
.product-page .container-border {
    border-top: 1px solid #DDDDDD; }
.product-page .container-border .title {
    color: #333;
    text-align: center; }
.product-page .container-border .title h4 {
    font-weight: 500;
    margin-bottom: 0; }
.product-page .container-border .title p {
    margin-bottom: 50px; }
.product-page .viewed {
    margin-top: 30px; }

.blog-post .parallax {
    height: 475px; }
.blog-post .title-blog {
    text-align: left;
    margin: 30px 0 15px; }
.blog-post .media-author .media-heading {
    margin: 5px 0; }
.blog-post .media-author p {
    margin-bottom: 20px; }
.blog-post .bottom-border {
    border-bottom: 1px solid #DDDDDD; }
.blog-post .top-border {
    border-top: 1px solid #DDDDDD; }
.blog-post footer h3, .blog-post .container-comments h3 {
    margin: 10px 0 30px; }


/* On commence la vrai version de Activitly ici */

nav.navbar{
    background: rgba(91, 202, 255, 0.95);
}

nav.navbar-transparent{
    background: rgba(0, 0, 0, 0.3);
}

nav i.logo{
    width:63px;
    height: 63px;
    background: url('../img/logo.png');
    display: inline-block;
}

nav.navbar-inverse .navbar-brand, nav.navbar-inverse .navbar-nav > li > a{
    color:#FBFBFC;
}

nav.navbar-inverse .navbar-brand:hover, nav.navbar-inverse .navbar-nav > li:hover > a{
    color:#FFF;
}

nav.navbar-inverse .btn{
    border-color:#FBFBFC;
}

nav.navbar-inverse .btn:hover{
    border-color:#FFF;
}

nav.navbar a.navbar-brand.logo{
    padding:3px 10px 0px 0px;
    margin:0;
}

nav.navbar-transparent a.navbar-brand.logo{
    padding:0px 10px 0px 0px;
    margin:0;
}

nav.navbar .navbar-nav > li > a.btn {
    color: #FFF;
}

nav .navbar-nav > li > a.btn:hover {
    color: #FFF;
    border-color: #FFF;
}

nav.navbar-transparent .navbar-nav > li > a.btn {
    color: #FFF;
}

.search-activity{
    top: 330px;
    position: absolute;
    width: 100%;
    z-index: 2;
}
.search-activity .container{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    margin:0 auto;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    text-align: center;
    padding:8px;
}

div.search-marker{
    position: absolute;
    top:245px;
    width:100%;
    text-align: center;
    z-index: 3;
}

i.search-marker{
    width:71px;
    height: 106px;
    background: url('../img/search-marker.png');
    display: inline-block;
}

@media screen and (min-width : 320px)
{
    .parallax h1
    {
        font-size:17px;
    }
    .parallax h3
    {
        font-size:13px;
    }
}
@media screen and (min-width : 640px)
{
    .parallax h1
    {
        font-size:30px;
    }
    .parallax h3
    {
        font-size:16px;
    }
}

@media screen and (min-width : 720px)
{
    .parallax h1
    {
        font-size:34px;
    }
    .parallax h3
    {
        font-size:19px;
    }
}

@media screen and (min-width : 1024px)
{
    .parallax h1
    {
        font-size:40px;
    }
    h.parallax h3
    {
        font-size:23px;
    }
}

@media screen and (min-width : 1400px)
{
    .parallax h1
    {
        font-size:50px;
    }
    .parallax h3
    {
        font-size:26px;
    }
}

.search-activity .col-md-4, .search-activity .col-sm-12{
    padding-top:5px;
    padding-bottom:5px;
    text-shadow: none;
}

.search-activity ::-moz-placeholder {
    color: #AAA;
}

.search-activity input:-moz-placeholder {
    color: #AAA;
 }

.search-activity .form-control::-webkit-input-placeholder {
    color: #AAA;
}

.section-gray-gradient {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 25%, rgba(231,231,231,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,rgba(255,255,255,1)), color-stop(100%,rgba(231,231,231,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 25%,rgba(231,231,231,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 25%,rgba(231,231,231,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 25%,rgba(231,231,231,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 25%,rgba(231,231,231,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=0 );
}

.navbar-nav > li > a:focus{
    outline: none;
}

.datepicker.dropdown-menu {
    visibility: visible;
    opacity: 1;
}