/*            Navigation menu                */
.nav-pills {
    > li + li {
        margin-left: 0;
    }
    > li > a {
        border: 1px solid @info-color;
        border-radius: 0;
        color: @info-color;
        margin-left: -1px;
        
        &:hover,
        &:focus{
            background-color: #F5F5F5;
        }
    }
    > li.active > a,
    > li.active > a:hover,
    > li.active > a:focus {
        background-color: @info-color;
        color: #FFFFFF;
    }    
    > li:first-child > a{
        border-radius: 4px 0 0 4px;
        margin: 0;
    }
    > li:last-child > a{
        border-radius: 0 4px 4px 0;
    }

}

.pagination.pagination-no-border > li > a,
.pagination.pagination-no-border > li > span{
    border: 0;
}
.pagination > li > a, .pagination > li > span, .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: 50%;
    margin: 0 2px;
    color: @default-states-color;
}
.pagination > li.active > a, .pagination > li.active > span, .pagination > li.active > a:hover, .pagination > li.active > span:hover, .pagination > li.active > a:focus, .pagination > li.active > span:focus {
    background-color: @info-color;
    border: 0;
    color: #FFFFFF;
    padding: 7px 13px;
}

.nav-pills-blue > li.active > a,
.nav-pills-blue > li.active > a:hover, 
.nav-pills-blue > li.active > a:focus, 
.pagination-blue > li.active > a, 
.pagination-blue > li.active > span, 
.pagination-blue > li.active > a:hover, 
.pagination-blue > li.active > span:hover, 
.pagination-blue > li.active > a:focus, 
.pagination-blue > li.active > span:focus{
   background-color: @primary-color;
}

.nav-pills-azure > li.active > a,
.nav-pills-azure > li.active > a:hover, 
.nav-pills-azure > li.active > a:focus, 
.pagination-azure > li.active > a, 
.pagination-azure > li.active > span, 
.pagination-azure > li.active > a:hover, 
.pagination-azure > li.active > span:hover, 
.pagination-azure > li.active > a:focus, 
.pagination-azure > li.active > span:focus{
   background-color: @info-color;
}

.nav-pills-green >  li.active > a,
.nav-pills-green >  li.active > a:hover, 
.nav-pills-green >  li.active > a:focus, 
.pagination-green > li.active > a, 
.pagination-green > li.active > span, 
.pagination-green > li.active > a:hover, 
.pagination-green > li.active > span:hover, 
.pagination-green > li.active > a:focus, 
.pagination-green > li.active > span:focus{
   background-color: @success-color;
}

.nav-pills-orange > li.active > a,
.nav-pills-orange > li.active > a:hover, 
.nav-pills-orange > li.active > a:focus, 
.pagination-orange > li.active > a, 
.pagination-orange > li.active > span, 
.pagination-orange > li.active > a:hover, 
.pagination-orange > li.active > span:hover, 
.pagination-orange > li.active > a:focus, 
.pagination-orange > li.active > span:focus{
   background-color: @warning-color;
}

.nav-pills-red > li.active > a,
.nav-pills-red > li.active > a:hover, 
.nav-pills-red > li.active > a:focus, 
.pagination-red > li.active > a, 
.pagination-red > li.active > span, 
.pagination-red > li.active > a:hover, 
.pagination-red > li.active > span:hover, 
.pagination-red > li.active > a:focus, 
.pagination-red > li.active > span:focus{
   background-color: @danger-color;
}
.nav-pills-blue > li > a {
    .pill-style(@primary-color);
}
.nav-pills-azure > li > a {
    .pill-style(@info-color);
}
.nav-pills-green > li > a {
    .pill-style(@success-color);
}
.nav-pills-orange > li > a {
    .pill-style(@warning-color);
}
.nav-pills-red > li > a {
    .pill-style(@danger-color);
}

.nav-text, .nav-icons{
    margin: @margin-bottom;
    
    > li > a{
        display: block;
        padding: 0px @padding-base-horizontal;
        color: @dark-gray;
        text-align: center;
        .opacity(0.8);
        
        &:hover,
        &:focus{
            background-color: @transparent-bg;
            .opacity(1);
        }
    }
    > li.active a{
       color: @info-color;  
    }
}
.nav-icons > li{
    display: inline-block;
     > a{
        padding: 0 10px;
        margin-bottom: 10px;
    }
    > a i{
        font-size: @font-size-h4;
        margin-bottom: 10px;
        width: @font-size-h4;
    }
}
.nav-icons.nav-stacked > li{
    display: block;
    > a {
        margin-bottom: 20px;
    }
}
.nav-blue > li.active a{
    color: @primary-color;
}
.nav-azure > li.active a{
    color: @info-color;
}
.nav-green > li.active a{
    color: @success-color;
}
.nav-orange > li.active a{
    color: @warning-color;
}
.nav-red > li.active a{
    color: @danger-color;
}

.nav-text{
    margin: @margin-bottom;
    
    > li > a{
        font-size: @font-size-h6;
        text-transform: uppercase;
        padding: 3px 0;
        text-align: left;
        font-weight: @font-weight-semi;
        
    }
    > li:first-child > a{
        padding-top: 0;
    }
    h4{
        margin-top: 0;
    }
}

.nav-text:not(.nav-stacked){
    > li{
        display: inline-block;
    }
    > li > a{
        margin-right: 15px;
    }
}