/**
 * Created by PeaX on 04/05/15.
 */

ul.typeahead {
    visibility: visible;
    opacity: initial;
    border-radius:3px;
    width: auto !important;

  li.active a{
    background-color: @info-color;
  }

  li.active:hover a{
    background-color: @info-states-color;
  }

  li.active:first-child a{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }

  li.active:last-child a{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}

/* Maps Location */

.pac-container{
  position: absolute;
  cursor: pointer;
  font-size: 14px;
  list-style: none;
  border-radius: 3px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.125);
  min-width: 160px;
  border-radius: 3px;
  background-clip: padding-box;

  .pac-item:hover .pac-item-query, .pac-item:hover .pac-matched{
    color:#FFF;
  }

  .pac-item:hover{
    background:@info-states-color;
  }

  .pac-icon-marker {
    background: none;
  }

  .pac-icon {
    width: 0px;
    height: 0px;
    margin-right: 0px;
    margin-top: 0px;
    display: inline-block;
  }

  .pac-item {
    background: #fff;
    display: list-item;
    text-align: -webkit-match-parent;
    -webkit-font-smoothing: antialiased;
    font-family: "Helvetica Neue", "Open Sans", Arial, sans-serif;
    font-weight: 300;
    display: block;
    font-size: 14px;
    color: #222;
    text-decoration: none;
    cursor:pointer;
    padding: 8px 16px;
    color: #333333;
    line-height: 1.42857143;
    border:none;
  }

  .pac-item:first-child{
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
  }

  .pac-item:hover .pac-item-query{
    font-family: "Source Sans pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .pac-item .pac-matched {
    color:#333333;
    font-weight: bold;
  }

}